a-table {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;

    user-select: none;

    .a-table-move-box {
        background-color: #ffffff;
        pointer-events: none;
        position: absolute;
        z-index: 2;

        > table {
            width: 100%;
            user-select: none;
            thead,
            tbody {
                overflow: hidden;
            }
        }
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }

    .a-table-predicted-box {
        top: 0;
        height: 100%;
        position: absolute;
        background-color: lightgrey;
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
        z-index: -1;
        opacity: 0.8;
    }

    [draggable] {
        user-select: none;
    }

    table {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        thead {
            overflow: hidden;
            .eq-thead-spacer {
                padding: 0;
                margin: 0;
                border: none;
                display: inline-block;
            }

            th.selected-cell {
                &[a-draggable]:last-of-type {
                    border-color: transparent;
                }
            }

        }

        tbody {
            flex: 1;
            overflow: auto;
        }

        th, td {
            position: relative;
            &.selected-cell {
                visibility: hidden;
                pointer-events: none;
            }

            &.a-table-predicted-column {
                border: none !important;
                background-color: transparent;
                position: relative;
            }
        }
    }
}


