a-table {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;

    .a-table-selected-box,
    .a-table-move-box {
        position: absolute;
        background-color: #ffffff;
        pointer-events: none;
        z-index: 2;

        > table {
            width: 100%;
            thead,
            tbody {
                overflow: hidden;
            }
        }
        overflow: hidden;
    }

    .a-table-selected-box {
        background-color: #fff;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            left: 0;
            z-index: 0;
            opacity: .4;
        }
    }

    .a-table-predicted-column {
        position: absolute;
        //background-color: #000;
        pointer-events: none;
        z-index: 1;
        //opacity: .4;
        box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, .4);
    }

    table {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        thead {
            overflow: hidden;
            cursor: move;
            .eq-thead-spacer {
                padding: 0;
                margin: 0;
                border: none;
                display: inline-block;
            }

        }

        tbody {
            flex: 1;
            overflow: auto;
        }
    }

    table {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .jsdragtable-contents {
        background: #fff;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        box-shadow: 2px 2px 5px #aaa;
        padding: 0;
    }

    .jsdragtable-contents table {
        margin-bottom: 0;
    }
}


