<div class="jumbotron">
    <div class="container">
        <h1>a Table</h1>
        <p></p>
        <p>
            <a class="btn btn-default" role="button" href="https://github.com/reyramos/table">Code on Github</a>
        </p>
    </div>
</div>
<div class="container">
    <section class="bs-docs-section" style="padding-top: 40px;height: 500px;">

        <a-table on-update="$ctrl.onColumnChange($event)" columns="$ctrl.columns" reorder="true">
            <table>
                <thead>
                <tr>
                    <th ng-repeat="p in $ctrl.columns">
                        <span><button ng-click="$ctrl.TheHead($event, p)">{{p.name}}</button></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in $ctrl.rows">
                    <td ng-repeat="thead in $ctrl.columns" nowrap>
                        <span ng-bind="row[thead.name]"></span>
                    </td>
                </tr>
                </tbody>

            </table>
        </a-table>

    </section>
</div>
