<div class="jumbotron">
    <div class="container">
        <h1>a Table</h1>
        <p></p>
        <p>
            <a class="btn btn-default" role="button" href="https://github.com/reyramos/dataTable">Code on Github</a>
        </p>
    </div>
</div>
<div class="container">
    <section class="bs-docs-section" style="padding-top: 40px;height: 500px;">

        <a-table>
            <table>
                <thead>
                <tr>
                    <th ng-repeat="p in [] | range:10 track by $index">
                        <span>thead {{$index}}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in [] | range:100">
                    <td ng-repeat="cell in [] | range:10 track by $index">
                        <span> cell {{$index}}</span>
                    </td>
                </tr>
                </tbody>

            </table>
        </a-table>

    </section>
</div>
