table {
    width: 100%;
    border: thin solid #444444;

    td,
    th {
        padding: 10px;
        border-right: thin solid #444444;

        &:not(th){
            border-top: thin solid #444444;
        }

        > span {
            width: 250px;
            display: inline-block;
        }
    }

}


